@media (min-width: 980px) {
  body {
    padding-top: 60px;
  }
}
.progressFull {
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.progressOpt {
  position: relative;
  float: left;
  background-color: #ff0000;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#results li {
  list-style-type: none;
  clear: both;
  margin-bottom: 50px;
}
#results li .optionText {
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10px;
}
#options li {
  list-style-type: none;
}
#options li input[type="radio"] {
  margin: 10px;
}
#options li label {
  display: inline;
  font-size: x-large;
}
