.progressFull {
  height: 70px;
  border: 1px solid #ff00dc;
}
.progressOpt {
  position: relative;
  float: left;
  background-color: #ff00dc;
  height: 70px;
}
#results li {
  list-style-type: none;
  clear: both;
  margin-bottom: 50px;
}
#results li .optionText {
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10px;
}
#options li {
  list-style-type: none;
}
#options li input[type="radio"] {
  margin: 10px;
}
#options li label {
  display: inline;
  font-size: x-large;
}
